body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 40px;
}

/* Container */
.faq {
    width: 600px;
    margin: auto;
}

/* Box */
.item {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Question */
.question {
    cursor: pointer;
}

/* Answer */
.answer {
    color: hsl(0, 0%, 60%);
}

/* General sibling + active */
.question:active ~ .answer {
    color: hsl(10, 80%, 50%);
}